body{
    height: 100vh;
}
.applied-jobs-page {
    padding: 30px;
    min-height: 80%;
    background-color: #f0f0f5;
}

.heading h1 {
    text-align: center;
    color: #1A1A1A;
    margin-bottom: 40px;
}

.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.job-card {
    width: 260px;
    padding: 20px;
    background-color:  #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.06);
    text-align: center;
}

.job-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.job-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #1A1A1A;
}

.job-card p {
    margin: 4px 0;
    color: #555;
}

.success-msg {
    text-align: center;
    color: #2e7d32;
    font-weight: bold;
    margin-bottom: 10px;
}

.no-jobs {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 40px;
}

@media (min-width: 100px ) and (max-width:768px) {
    .mainHeader{
        width: 100vw;
        height: auto;
    }
    .navcont {
        flex-direction: column;
    }

    .navcont ul {
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
    }
}