{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        jobset
        {% endblock  %}</title>
    <link rel="stylesheet" href="{% static "css/frame.css" %}">

    {% block extra_css %}

    {% endblock %}
</head>

<body>
    <header class="mainHeader">
        <div class="navcont">

            <a href="{% url 'home' %}"><img src="{% static 'images/jobset.logo-removebg-preview.png' %}" alt="jobset-logo"></a>

            <ul class="navlist">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "find-jobs" %}">Find Jobs</a></li>
                <li><a href="{% url "about" %}">About</a></li>
            </ul>

            <a href="{% url 'logout' %}" target="_self" class="O-log">Log Out</a>
        </div>
    </header>
    
    {% block content %}

    {% endblock  %}

    <footer class="site-footer">
        <div class="footer-links">
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact</a>
        </div>

        <div class="social-icons">
            <a href="www.linkedin.com/in/ishan-kumar-tiwari-453a89339" target="_blank" title="LinkedIn">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/ishantiwariii/jobSet" target="_blank" title="GitHub">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub">
            </a>
            <a href="https://www.instagram.com/ishan_tiwariii/?__pwa=1/" target="_blank" title="Instagram">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram">
            </a>
        </div>

        <p class="copyright">
            &copy; 2025 <strong>JobSet</strong>. All rights reserved.
        </p>
    </footer>

</body>

</html>